@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");

body {
  font-family: "Gabarito", sans-serif;
}
.part-1 {
  display: flex;
  margin-bottom: 100px;
  margin-left: 50px;
}
.part-1 h1 {
  font-size: 50px;
  color: red;
}
.part-1 p {
  font-weight: bolder;
  font-size: 25px;
}
.ironman-img img {
  margin-left: 80px;
}
/* section 2 */
.part-2 {
  display: flex;
  justify-content: center;
  margin-left: 60px;
  align-items: center;
}
.details {
  margin-left: 120px;
  margin-right: 50px;
}
